<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <footer class="footer" th:fragment="footer">
        <div class="container has-text-centered">
            <p> Lenard Pratt © 2018</p>
            <a href="https://github.com/lapz">
                <i class="fab fa-github" ></i>
            </a>
            <a href="mailto:l3np27@gmail.com">
                <i class="fas fa-envelope-square"></i>
            </a>
            <a href="https://linkedin.com/in/lprattl1">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </footer>

</body>
</html>